<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
         <!-- Bootstrap JavaScript Libraries -->
         <script
         src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
         integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
         crossorigin="anonymous"
     ></script>

     <script
         src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
         integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
         crossorigin="anonymous"
     ></script>
    </head>

    <body>
       <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="w-75 border shadow p-3 row">
            <div class="col">
                <img src="https://png.pngtree.com/png-clipart/20230504/original/pngtree-free-vector-login-concept-illustration-png-image_9140539.png" 
                alt="111" class="img-fluid">
            </div>
            <div class="col d-flex flex-column justify-content-center">
                <h2>User Login</h2>
                <form action="" method="post">
                    {% csrf_token%}
                    <div class="mb-3">
                        <p class="text-center text-danger">{{form.username.error}}</p>
                        <label>{{form.username.label}}</label>
                        {{form.username}}
                    </div>
                    <div class="mb-3">
                        <p class="text-center text-danger">{{form.password.error}}</p>
                        <label>{{form.password.label}}</label>
                        {{form.password}}
                    </div>
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-success">Login</button>
                        <a href="">New user?</a>
                    </div>

                </form>
            </div>


        </div>
       </div>
       
    </body>
</html>
