{% extends 'navbar.html' %}
{% block nav %}
{% load static %}



<h2 class="m-3">Welcome <span class="text-warning">{{request.user.first_name}} {{request.user.last_name}}</span></h2>

{% if messages %}
    {% for i in messages %}
        {% if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{i}}</strong> 
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
        {% endif%}
        {% if i.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{i}}</strong> 
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
        {% endif%}
    {% endfor %}
{% endif%}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/eg5.jpg' %}" height="600px" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/eg2.jpg' %}" height="600px" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/eg1.png' %}" height="600px" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <h2>Categories</h2>
  <div class="p-2 mt-4 d-flex justify-content-evenly">

    <div class="card" style="width: 18rem;">
      <img src="https://tse4.mm.bing.net/th?id=OIP.PMKqDBjNrdlbd20C5E_RxQHaFj&pid=Api&P=0&h=220" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Smart Phone</h5>
        <a href="{% url 'plist' 'SmartPhone' %}" class="stretched-link"></a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="https://tse2.mm.bing.net/th?id=OIP.weylhjWBpzhqzv6SVulg2AHaGz&pid=Api&P=0&h=220" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Tablet</h5>
        <a href="{% url 'plist' 'Tablet' %}" class="stretched-link"></a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="https://tse2.mm.bing.net/th?id=OIP.u7RHTynuztobKsBeBg2paQHaHa&pid=Api&P=0&h=220" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Smart watches</h5>
        <a href="{% url 'plist' 'SmartWatch' %}" class="stretched-link"></a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="https://tse2.mm.bing.net/th?id=OIP.YHeyWW3_DmbK-EboyJ2IQQHaE9&pid=Api&P=0&h=220" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"> Laptops</h5>
        <a href="{% url 'plist' 'LapTop' %}" class="stretched-link"></a>
      </div>
    </div>

  </div>


  
      
      

  

{% endblock nav %}

    
