{% extends 'navbar.html' %}
{% block nav %}

<h2>Product list</h2>
<div class="d-flex justify-content-evenly flex-wrap">

{% for i in products %}
<div class="card" style="width: 18rem;">
    <img src="{{i.image.url}}" height="250px" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">{{i.title}}</h5>
      <h6 class="card-text text-center">{{i.description}}</h6>
      <p class="card-text text-center">RS:{{i.price}}</p>
      <a href="{% url 'pdetail' i.id %}" class="stretched-link"></a>
    </div>
  </div>
{% endfor %}

</div>

{% endblock nav %}
